* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .options {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    background-color: #343A40;
  }
  button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background: none;

  }
  button:focus-visible{
    border: none;
  }
  button:hover {
    background: #000000;
  }
  

  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  #text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    padding: 20px;
    height: 50vh;
  }
  .active {
    background-color: #e0e9ff;
  }